.env
frontend/public/translation/.nfs*
staticfiles
node_modules
test.*
core.1.9
credentials.json
backend/database/db.sqlite
backend\database\db.sqlite
frontend/public/assets/images/.nfs000000000f80d6e10000b6c8
