body.about-page {
    overflow-y: auto !important;
    height: auto !important;
    min-height: 100vh !important;
}

body.about-page #app {
    height: auto !important;
    min-height: 100vh !important;
    overflow-y: auto !important;
}

body.contact-page {
    overflow-y: auto !important;
    height: auto !important;
    min-height: 100vh !important;
}

body.contact-page #app {
    height: auto !important;
    min-height: 100vh !important;
    overflow-y: auto !important;
}