<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Home - Pong Game{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<header class="home-header">
    <div class="home-header-content hidden">
        <a href="{% url 'game_page' page='pong-game' %}" class="h0 home-header-heading h-anim anima spanned" data-spanner="w" data-anima-delay="3">
            <p>
                <span class="w" data-i="1">Click</span>
                <span class="split"></span>
                <span class="w" data-i="2">To</span>
            </p>
            <p>
                <span class="w" data-i="3">Play</span>
                <span class="split"></span>
                <span class="w" data-i="4">Pong</span>
            </p>
        </a>
    </div>
    
    
</header>
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}
