main {
	display: block;
}

.not-found-error {
	position: absolute;
	width: 100%;
	top: 20rem;
	line-height: 0.82;
}

.not-found-error p {
	margin: 0;
}

.error-code {
	font-size: 10rem;
	margin: 0;
	display: flex;
	text-transform: uppercase;
	text-align: center;
	justify-content: center;
	font-weight: 700;
	gap: 2rem;
	margin-bottom: 4rem;
}

.error-message {
	font-size: 2rem;
	text-align: center;
}

.error-message span {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.error-message p:nth-child(2)
{
	color: #BB70AD;
}

.error-code p:nth-child(2){
	color: #BB70AD;
}

.error-message {
	font-size: 2rem;
}