<section class="home-page">

  <header class="home-header">
    <div class="home-header-content hidden">
        <a href="/pong-selection" class="h0 home-header-heading h-anim anima spanned" data-spanner="w" data-anima-delay="3">
            <p>
                <span class="w" data-i="1">Click</span>
                <span class="split"></span>
                <span class="w" data-i="2">To</span>
            </p>
            <p>
                <span class="w" data-i="3">Play</span>
                <span class="split"></span>
                <span class="w" data-i="4">Pong</span>
            </p>
        </a>
    </div>
</header>
</section>